@import "colors";
@import "normalize";
@import "main";
@import "lobby";
@import "match";

* {
    font-family: "Roboto", sans-serif !important;
}

body,
html {
    background-color: #d2dae2;
}

#appWrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}